@{
}
@model Books

<div class="card card-outline-primary m-1 p-1">

    <div class="bg-light p-1">
        <h3>@Model.Title</h3>

        <span class="badge bg-info" style="float:right">
            Category: @Model.Category
        </span>
    </div>


    <ul>
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.ISBN</li>
        <li>Classification: @Model.Classification</li>
        <li>PageCount: @Model.PageCount</li>
        <li>Price: $@Model.Price</li>
    </ul>

    <form method="post" asp-page="/ShoppingCart">
        <input type="hidden" asp-for= "@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
    
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Shopping Cart</button>
        </span>
    </form>
</div>

